

body {
    margin: 0;
    padding: 0;
    background-color: grey;

    font-family: Arial;

    line-height: 1.2;
    
}


#content, #intro {
    width: 384px;
    margin: auto;
    margin-top: 96px;
}

input, button, #intro {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    border-style: none;
    border-radius: 16px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

#intro {
    margin-left: 48px;
    width: 26%;
    padding: 12px;
}

#intro h1 {
    font-size: 28px;
    margin-left: 14px;
    margin-bottom: -12px;
}

#intro p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.yellow {
    background-color: rgba(247, 222, 59, 0.5);
    padding: 8px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(247, 222, 59, 0.5);
}

input[type=text] {
    width: 232px;
}

input[type=submit] {
    width: 104px;
    float: right;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


button {
    width: 31%;
    margin-bottom: 56px;
}

#random {
    float: left;
}
#daily {
    margin-left: 3.5%;
}
#giveup {
    float: right;
}


#guesses {
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 128px;
}

.container {
    margin-top: 24px;
}

.crop {

    width: calc(100%);
    
    /*margin: auto;*/
    margin-top: -4px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    /*padding: 0px 16px;*/
    border-style: none;
    border-radius: 16px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
    text-align: center;
    
}

.crop img, p {

    width: calc(100% - 32px);
    padding: 16px;
    font-size: 16px;
    
}















